.home-section {
  @include base-container;
  background-color: $red-dark;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(tablet) {
    justify-content: center;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    & > .text-hero {
      mix-blend-mode: difference;
      position: absolute;
      z-index: 5;
      font-size: $text-decor-main;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-text-stroke: 2px white;

      @include breakpoint(desktop) {
        font-size: 18em;
      }

      @include breakpoint(laptop) {
        font-size: 15em;
        -webkit-text-stroke: 1px white;
      }

      @include breakpoint(mobileonly) {
        font-size: $text-decor-mobile;
      }

      & > .main {
        position: absolute;
      }

      & > .child {
        writing-mode: vertical-lr;
        color: white;
        font-size: 0.5em;
      }
    }

    & > .img-hero {
      width: 894px;
      height: 894px;
      border-radius: $radius-20;
      background-image: url(../images/img-decor.jpg);
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;

      @include breakpoint(laptop) {
        width: 700px;
        height: 700px;
      }

      & > .child {
        z-index: 2;
        border-radius: $radius-20;
        position: absolute;
        transform: rotate(90deg);
        width: 700px;
        height: 700px;
        overflow: hidden;

        @include breakpoint(laptop) {
          width: 500px;
          height: 500px;
        }
        @include breakpoint(mobileonly) {
          width: 360px;
          height: 360px;
        }

        & > img {
          position: relative;
          transform: scale(1.5, 1.5);
          height: 100%;
          width: 100%;
          object-fit: cover;
          filter: url(#noise);
        }
      }
    }
  }
}
