.skill-section {
  @include base-container;
  background-color: $gray;

  & > .card-container {
    @include base-card-container;

    & > .card-group {
      z-index: 2;
      display: grid;
      width: 600px;
      margin: $space-16;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $space-24;
      transform: translateX(50%);

      @include breakpoint(desktop) {
        transform: translateX(40%);
        grid-gap: $space-16;
      }

      @include breakpoint(laptop) {
        transform: translateX(30%);
      }

      @include breakpoint(tablet) {
        transform: translateX(0);
      }

      @include breakpoint(mobileonly) {
        width: 530px;
      }

      & > .card {
        @include base-card;
        min-height: 300px;
        background-color: white;

        @include breakpoint(mobileonly) {
          min-height: 220px;
        }

        & > .card-body {
          width: 100%;
          display: flex;
          overflow: hidden;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: start;
        }
      }
    }
  }

  & > .img-decor-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    & > .img-decor {
      width: 700px;
      height: 700px;
      border-radius: $radius-20;
      background-image: url(../images/img-decor.jpg);
      background-position: center;
      background-size: cover;
    }
  }

  & > .text-decor-container {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(tablet) {
      justify-content: center;
      align-items: flex-start;
    }

    & > h1 {
      mix-blend-mode: difference;
      margin: 0 60px;
      font-size: $text-decor;
      -webkit-text-stroke: 1px white;

      @include breakpoint(laptop) {
        font-size: $text-decor-laptop;
      }

      @include breakpoint(mobileonly) {
        font-size: $text-decor-mobile;
      }
    }
  }
}
