.work-detail {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 $space-32;
  max-width: 1600px;
  background-color: white;
  display: flex;
  align-items: center;

  @include breakpoint(laptop) {
    display: block;
    padding-top: 0;
  }

  & > .content {
    flex: 50%;
    width: 100%;
    margin-left: $space-32;
    display: flex;
    flex-direction: column;
    @include breakpoint(laptop) {
      margin-left: 0;
      margin-top: $space-32;
    }

    .section {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: $space-32 0;

      & > h1 {
        margin-bottom: $space-16;
      }
      &.row {
        flex-wrap: wrap;
        flex-direction: row;

        & > button {
          margin-right: $space-16;
        }
      }
    }
  }
}
