$red-dark: #692b2b;
$gray: #dddddd;
$gray-light: rgb(243, 243, 243);
$blue-dark: #2b3c54;
$beizer: cubic-bezier(0.7, 0.27, 0.15, 0.83);

$space-8: 8px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;
$space-56: 56px;
$space-64: 64px;

$radius-20: 20px;
$radius-10: 10px;
$radius-8: 8px;
$radius-5: 5px;

$text-14: 14px;
$text-decor: 20em;
$text-decor-laptop: 17em;
$text-decor-mobile: 9em;
$text-decor-main: 21.875em;
